.heroBanner {
  background-image: url('/img/banner.jpg');
  background-color: #0C0C11;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}
